.fullNav {
  display: none;
}

.fullNavOpen {
  display: none;
}

.navWrapper {
  width: 100%;
  height: 60px;
  background-color: #0a4d77;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

.navWrapper .rightSideNav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navWrapper .rightSideNav ul {
  padding: 14px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.navWrapper .rightSideNav ul li {
  padding: 14px 16px;
}

.navWrapper .rightSideNav ul li a {
  color: #fff;
  text-decoration: none;
}

.navWrapper .rightSideNav ul li a:hover {
  border-bottom: 2px solid #ffcd00;
}

.navWrapper .centerLogo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navWrapper .centerLogo h1 {
  color: #fff;
  cursor: pointer;
}

.navWrapper .leftSideNav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navWrapper .leftSideNav ul {
  padding: 14px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.navWrapper .leftSideNav ul li {
  padding: 14px 16px;
}

.navWrapper .leftSideNav ul li .comecar {
  background-color: #ffcd00;
  padding: 15%;
  border-radius: 5%;
  color: #000000;
}

.navWrapper .leftSideNav ul li a {
  color: #fff;
  text-decoration: none;
}

.navWrapper .leftSideNav ul li a:hover {
  border-bottom: 2px solid #ffcd00;
}

.mainWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #093d5e;
}

.mainWrapper .sideSocial {
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.mainWrapper .sideSocial i {
  color: #ffcd00;
  margin: 50%;
  cursor: pointer;
}

.mainWrapper .centerMain {
  min-height: 200px;
  min-width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mainWrapper .centerMain .textMain h1 {
  font-size: 95px;
  font-weight: 200;
  color: #fff;
}

.mainWrapper .centerMain .textMain h1 code::after {
  content: "Salve";
  -webkit-animation: changeName 2s infinite alternate;
          animation: changeName 2s infinite alternate;
}

@-webkit-keyframes changeName {
  from {
    content: "Salve";
  }
  to {
    content: "Aproveite";
  }
}

@keyframes changeName {
  from {
    content: "Salve";
  }
  to {
    content: "Aproveite";
  }
}

.mainWrapper .centerMain .textMain h1 span {
  border-bottom: 2px solid #ffcd00;
}

.mainWrapper .centerMain .textMain h1 span:hover {
  border-bottom: 4px solid #ffcd00;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

.mainWrapper .centerMain .textMain button {
  padding: 4%;
  border: none;
  width: 60%;
  background-color: #ffcd00;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 2%;
}

.mainWrapper .centerMain img {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: move 0.9s infinite alternate;
          animation: move 0.9s infinite alternate;
}

@-webkit-keyframes move {
  from {
    top: 4%;
  }
  to {
    top: 0;
    right: 0;
  }
}

@keyframes move {
  from {
    top: 4%;
  }
  to {
    top: 0;
    right: 0;
  }
}

.divider {
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.aboutMain {
  width: 100%;
  min-height: 100vh;
  background-color: #093d5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMain .infoAbout {
  background-color: white;
  min-height: 80%;
  width: 30%;
  margin: 5% 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMain .infoAbout p {
  width: 80%;
  font-weight: 100;
  position: relative;
}

.aboutMain .aboutText {
  width: 50%;
  min-height: 80%;
  margin: 5% 5% 0 1%;
  position: relative;
  text-align: center;
}

.aboutMain .aboutText h1 {
  font-size: 85px;
  font-weight: 200;
  padding: 4%;
  color: #fff;
  text-align: left;
}

.aboutMain .aboutText h1 span:nth-child(1) {
  -webkit-animation: fill 0.8s infinite alternate;
          animation: fill 0.8s infinite alternate;
  font-size: 90px;
  background-color: red;
  color: black;
}

.aboutMain .aboutText h1 span:nth-child(2) {
  -webkit-animation: fill2 1s infinite alternate;
          animation: fill2 1s infinite alternate;
  font-size: 90px;
}

@-webkit-keyframes fill2 {
  from {
    color: #fff;
  }
  to {
    color: #ffcd00;
  }
}

@keyframes fill2 {
  from {
    color: #fff;
  }
  to {
    color: #ffcd00;
  }
}

.aboutMain .aboutText i {
  margin: 0 5%;
  cursor: pointer;
  color: #ffcd00;
  -webkit-animation: moveArrow 0.5s infinite alternate;
          animation: moveArrow 0.5s infinite alternate;
}

@-webkit-keyframes moveArrow {
  from {
    margin-top: 5%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    margin-top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes moveArrow {
  from {
    margin-top: 5%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    margin-top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.howTo {
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howTo .step {
  width: 30%;
  margin: 0 3%;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
}

.howTo .step p {
  width: 60%;
  text-align: justify;
}

.userReview {
  width: 100%;
  min-height: 100vh;
  background-color: #093d5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userReview .person {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.userReview .person img {
  border-radius: 50%;
  margin-bottom: 2%;
}

.userReview .person h1,
.userReview .person code,
.userReview .person p {
  color: #fff;
  font-weight: 100;
  width: 60%;
}

.userReview .person p {
  text-align: justify;
}

.contato {
  width: 100%;
  min-height: 80vh;
  background-color: #051f2f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contato h1 {
  color: #fff;
  font-size: 55px;
}

.contato .centerContato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 2%;
}

.contato .centerContato textarea {
  resize: none;
}

.contato .centerContato input,
.contato .centerContato textarea {
  padding: 2%;
  font-size: 20px;
}

.contato i {
  position: fixed;
  bottom: 2%;
  right: 2%;
  color: #ffcd00;
  z-index: 1;
  cursor: pointer;
}

.loginWrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.loginWrapper .centerLogin {
  position: absolute;
  min-height: 60%;
  width: 400px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
}

.loginWrapper .centerLogin .titleLogin {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a4d77;
  border: none;
}

.loginWrapper .centerLogin .titleLogin h1 {
  font-size: 35px;
  font-weight: 200;
  color: #fff;
}

.loginWrapper .centerLogin .bodyLogin {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginWrapper .centerLogin .bodyLogin input {
  padding: 2%;
  width: 60%;
  margin: 2%;
  letter-spacing: 2px;
  font-weight: 300;
}

.loginWrapper .centerLogin .bodyLogin button {
  padding: 4%;
  width: 66%;
  border: none;
  cursor: pointer;
  background-color: #ffcd00;
  color: black;
}

.loginWrapper .centerLogin .footerLogin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #0a4d77;
}

.loginWrapper .centerLogin .footerLogin a {
  text-decoration: none;
  color: #fff;
}

.loginWrapper .leftSideLogin {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #0a4d77;
  position: relative;
}

.loginWrapper .rightSideLogin {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #093d5e;
}

.wrapperSignUp {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperSignUp .leftSideSignUp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffcd00;
  position: relative;
}

.wrapperSignUp .leftSideSignUp .btLft {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapperSignUp .leftSideSignUp .btLft h1 {
  margin: 0;
  font-weight: 500;
  font-size: 8rem;
}

.wrapperSignUp .rightSideSignUp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperSignUp .rightSideSignUp .centerSign {
  width: 60%;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.wrapperSignUp .rightSideSignUp .centerSign h1 {
  font-weight: 100;
}

.wrapperSignUp .rightSideSignUp .centerSign .firstSign, .wrapperSignUp .rightSideSignUp .centerSign .thirdSign {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperSignUp .rightSideSignUp .centerSign .firstSign input, .wrapperSignUp .rightSideSignUp .centerSign .thirdSign input {
  padding: 2%;
  margin: 10px;
}

.wrapperSignUp .rightSideSignUp .centerSign button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
  padding: 2%;
  background-color: #ffcd00;
  margin: 0 auto;
  cursor: pointer;
}

.wrapperSignUp .rightSideSignUp .centerSign .thirdSign input {
  margin-bottom: 2%;
}

.dashWrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #0A4D77;
  overflow: hidden;
}

.dashWrapper .sideDash {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  background-color: #093d5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slidein 0.7s;
          animation: slidein 0.7s;
  z-index: 3;
}

@-webkit-keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: width;
  }
}

@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: width;
  }
}

.dashWrapper .sideDash i {
  top: 2%;
  left: 20%;
  position: absolute;
  color: #fff;
  cursor: pointer;
}

.dashWrapper .sideDash code {
  color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

.dashWrapper .sideDash .centerSideItems {
  display: block;
  text-align: center;
}

.dashWrapper .sideDash .centerSideItems ul {
  padding: 14px 16px;
  list-style-type: none;
  width: 100%;
}

.dashWrapper .sideDash .centerSideItems ul li {
  padding: 14px 16px;
}

.dashWrapper .sideDash .centerSideItems ul li a {
  font-size: 35px;
  color: #fff;
  text-decoration: none;
}

.dashWrapper .sideDash .centerSideItems ul li a:hover {
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  border-bottom: 4px solid black;
}

.dashWrapper .topFixedDash {
  background-color: #093d5e;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.dashWrapper .topFixedDash h3 {
  font-weight: 200;
  color: #fff;
  padding: 2%;
}

.dashWrapper .topFixedDash h3 span {
  border-bottom: 2px solid #ffcd00;
}

.dashWrapper .topFixedDash h3 span::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background: transparent url("https://randomuser.me/api/portraits/men/86.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.dashWrapper .topFixedDash img {
  border-radius: 50%;
}

.dashWrapper .topFixedDash i {
  cursor: pointer;
  display: none;
}

.dashWrapper .showNavMobile {
  display: none;
}

.dashWrapper .mainContentDash {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.dashWrapper .mainContentDash .rightSideMain {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("./Assets/blue.jpg") no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashWrapper .mainContentDash .rightSideMain .overlayRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.dashWrapper .mainContentDash .rightSideMain .centerTextRightMain {
  width: 60%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.dashWrapper .mainContentDash .rightSideMain .centerTextRightMain h1 {
  font-size: 55px;
}

.dashWrapper .mainContentDash .leftSideMain {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashWrapper .mainContentDash .leftSideMain .topMain {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.dashWrapper .mainContentDash .leftSideMain .topMain code span {
  color: #fff;
  font-size: 45px;
}

.dashWrapper .mainContentDash .leftSideMain .bottomMain {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #064180;
}

.dashWrapper .mainContentDash .leftSideMain .bottomMain button {
  padding: 2%;
  border: none;
  margin: 5%;
  width: 50%;
  background-color: #ffcd00;
  cursor: pointer;
  font-size: 25px;
  font-weight: 300;
}

.dashWrapper .mainContentDash .fullModalScreen {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  top: 0;
  left: 0;
}

.dashWrapper .mainContentDash .fullModalScreen i {
  color: #fff;
  top: 2%;
  right: 2%;
  position: absolute;
  cursor: pointer;
}

.dashWrapper .mainContentDash .fullModalScreen .centerModal {
  margin: auto;
  min-height: 80%;
  width: 80%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashWrapper .mainContentDash .fullModalScreen .centerModal h1 {
  color: #fff;
}

.dashWrapper .mainContentDash .fullModalScreen .centerModal input {
  padding: 1%;
  margin: 1%;
  width: 40%;
  border: none;
}

.dashWrapper .mainContentDash .fullModalScreen .centerModal select {
  padding: 2%;
  width: 10%;
  border: none;
  cursor: pointer;
}

.dashWrapper .mainContentDash .fullModalScreen .centerModal button {
  padding: 2%;
  border: none;
  background-color: #ffcd00;
  width: 30%;
  margin: 2% 0 0;
  cursor: pointer;
}

.showTodas {
  width: 80%;
  margin: 5% auto;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.showTodas .centerSpin {
  margin: 5% auto;
}

.showTodas .tableTodas {
  margin: 0 auto;
  width: 100%;
}

.showTodas .tableTodas tr:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.showTodas .tableTodas tr td {
  padding: 2%;
  cursor: pointer;
  border: 1px solid #000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navWrapper {
    display: none;
  }
  .fullNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0a4d77;
    width: 100%;
    min-height: 60px;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullNav i {
    position: absolute;
    left: 5%;
    cursor: pointer;
  }
  .fullNav h1 {
    color: #fff;
  }
  .fullNavOpen {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation: open 0.6s;
            animation: open 0.6s;
  }
  @-webkit-keyframes open {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes open {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .fullNavOpen i {
    position: absolute;
    top: 4%;
    right: 5%;
    color: #fff;
    cursor: pointer;
  }
  .fullNavOpen .centerFull {
    margin: auto;
    text-align: center;
  }
  .fullNavOpen .centerFull ul {
    padding: 14px 16px;
    list-style-type: none;
  }
  .fullNavOpen .centerFull ul li {
    padding: 14px 16px;
  }
  .fullNavOpen .centerFull ul li .comecarFull {
    background-color: #ffcd00;
    color: black;
    padding: 4%;
    border-radius: 10%;
  }
  .fullNavOpen .centerFull ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 45px;
  }
  .mainWrapper {
    width: 100%;
  }
  .mainWrapper .sideSocial {
    display: none;
  }
  .mainWrapper .centerMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .mainWrapper .centerMain .textMain {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    margin-top: 10%;
  }
  .mainWrapper .centerMain .textMain code::after {
    content: "Salve";
    -webkit-animation: none !important;
            animation: none !important;
  }
  .mainWrapper .centerMain .textMain span {
    border-bottom: 2px solid #ffcd00;
  }
  .mainWrapper .centerMain .textMain button {
    padding: 6%;
    width: 80%;
  }
  .mainWrapper .centerMain img {
    display: none;
  }
  .aboutMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    min-height: 100vh;
  }
  .aboutMain .infoAbout {
    min-height: 80%;
    width: 90%;
  }
  .aboutMain .infoAbout p {
    width: 80%;
  }
  .aboutMain .aboutText {
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    margin-bottom: 5%;
  }
  .aboutMain .aboutText h1 {
    font-size: 25px;
  }
  .aboutMain .aboutText h1 span {
    font-size: 20px;
  }
  .contato i {
    display: all;
  }
  .contato .centerContato {
    text-align: center;
  }
  .contato .centerContato input,
  .contato .centerContato textarea {
    width: 70%;
    margin: 0 auto;
  }
  .userReview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .userReview .person {
    width: 100%;
  }
  .howTo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .howTo .step {
    width: 90%;
  }
  .loginWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .wrapperSignUp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .wrapperSignUp .leftSideSignUp {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .wrapperSignUp .leftSideSignUp .btLft {
    display: none;
  }
  .wrapperSignUp .rightSideSignUp .centerSign {
    min-height: 100%;
    width: 100%;
  }
  .dashWrapper {
    width: 100%;
  }
  .dashWrapper .sideDash {
    display: none;
  }
  .dashWrapper .sideDash code {
    display: none !important;
  }
  .dashWrapper .topFixedDash {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dashWrapper .topFixedDash i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    padding: 4%;
  }
  .dashWrapper .topFixedDash h3 {
    text-align: center;
  }
  .dashWrapper .showNavMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
    background-color: #000000;
    display: none;
    text-align: center;
  }
  .dashWrapper .showNavMobile ul {
    padding: 14px 16px;
    list-style-type: none;
  }
  .dashWrapper .showNavMobile ul li {
    padding: 14px;
  }
  .dashWrapper .showNavMobile ul li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid black;
  }
  .dashWrapper .mainContentDash {
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .dashWrapper .mainContentDash .displayAmount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .dashWrapper .mainContentDash .rightSideMain .centerTextRightMain h1 {
    font-size: 25px;
  }
  .dashWrapper .mainContentDash .leftSideMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashWrapper .mainContentDash .leftSideMain .topMain code span {
    font-size: 45px;
  }
  .dashWrapper .mainContentDash .leftSideMain .bottomMain button {
    padding: 4%;
    width: 70%;
    font-size: 25px;
    font-weight: 300;
  }
  .dashWrapper .mainContentDash .fullModalScreen {
    width: 100%;
  }
  .dashWrapper .mainContentDash .fullModalScreen .centerModal i {
    position: absolute;
    top: 2% !important;
    right: 2% !important;
  }
  .dashWrapper .mainContentDash .fullModalScreen .centerModal input {
    width: 90%;
    padding: 2%;
    font-size: 25px;
    margin: 5%;
  }
  .dashWrapper .mainContentDash .fullModalScreen .centerModal select {
    width: 50%;
    margin: 2%;
    text-align: right;
  }
  .dashWrapper .mainContentDash .showEvents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .dashWrapper .mainContentDash .showEvents .novaEntrada {
    min-height: 200px;
    width: 100%;
  }
  .dashWrapper .mainContentDash .showEvents .novaEntrada table {
    width: 50%;
  }
  .showTodas .tableTodas tbody tr:nth-child(1) td:nth-child(4) {
    display: none;
  }
  .showTodas .tableTodas tbody .mobilePost {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .mainWrapper {
    position: relative;
  }
  .mainWrapper .centerMain {
    height: 80vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: relative;
    text-align: center;
  }
  .mainWrapper .centerMain .textMain {
    margin: auto;
  }
  .mainWrapper .centerMain .textMain h1 {
    font-size: 105px;
    text-align: justify;
  }
  .mainWrapper .centerMain .textMain h1 span {
    border-bottom: 2px solid #ffcd00;
  }
  .mainWrapper .centerMain img {
    display: none;
  }
  .aboutMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .aboutMain .infoAbout {
    width: 90%;
    margin-right: 0;
  }
  .aboutMain .aboutText {
    width: 90%;
    margin-right: 0;
  }
  .howTo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .howTo .step {
    width: 100%;
  }
  .userReview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .userReview .person {
    width: 100%;
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .dashWrapper {
    width: 100%;
  }
  .dashWrapper .mainContentDash {
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .dashWrapper .mainContentDash .displayAmount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .dashWrapper .mainContentDash .rightSideMain .centerTextRightMain h1 {
    font-size: 25px;
  }
  .dashWrapper .mainContentDash .leftSideMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashWrapper .mainContentDash .leftSideMain .topMain code span {
    font-size: 45px;
  }
  .dashWrapper .mainContentDash .leftSideMain .bottomMain button {
    padding: 2%;
    width: 50%;
    font-size: 15px;
    font-weight: 300;
  }
  .dashWrapper .mainContentDash .fullModalScreen {
    width: 100%;
  }
  .dashWrapper .mainContentDash .fullModalScreen .centerModal i {
    position: absolute;
    top: 2% !important;
    right: 2% !important;
  }
  .dashWrapper .mainContentDash .fullModalScreen .centerModal input {
    width: 90%;
    padding: 2%;
    font-size: 25px;
    margin: 5%;
  }
  .dashWrapper .mainContentDash .fullModalScreen .centerModal select {
    width: 50%;
    margin: 2%;
    text-align: right;
  }
  .dashWrapper .mainContentDash .showEvents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .dashWrapper .mainContentDash .showEvents .novaEntrada {
    min-height: 200px;
    width: 100%;
  }
  .dashWrapper .mainContentDash .showEvents .novaEntrada table {
    width: 50%;
  }
  .showTodas {
    border: 2px solid red;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=App.css.map */